endpoint: "{{ hub_worker_endpoint }}"

{% if hub_ipvs_enabled %}
gateway:
  ports: [{{ hub_ipvs_ports_lo }}, {{ hub_ipvs_ports_hi }}]
{% endif %}

cluster:
  endpoint: "{{ hub_client_endpoint }}"

  failover: "{{ hub_cluster_failover }}"

  store:
    type: "boltdb"
    endpoint: "/tmp/sonm/boltdb"
    bucket: "sonm"

    {% if hub_cluster_key_file is defined or hub_cluster_cert_file is defined %}
    key_file: "{{ hub_cluster_key_file }}"
    cert_file: "{{ hub_cluster_cert_file }}"
    {% endif %}

  leader_key: "sonm/hub/leader"
  member_list_key: "sonm/hub/list"
  sync_prefix: "sync_prefix"
  leader_ttl: 20
  announce_period: 10
  member_gc_period: 60

logging:
  level: -1

ethereum:
  key_store: "{{ sonm_keystore_path }}"
  pass_phrase: "{{ sonm_keystore_passphrese }}"

locator:
  endpoint: "{{ sonm_locator_addr }}"

market:
  endpoint: "{{ sonm_market_addr }}"
