node:
  listen_addr: {{ node_listen_add }}

log:
  level: -1

locator:
  address: "{{ sonm_locator_addr }}"

market:
  address: "{{ sonm_market_addr }}"

ethereum:
  key_store: "{{ sonm_keystore_path }}"
  pass_phrase: "{{ sonm_keystore_passphrese }}"


{% if node_hub_addr is defined and node_hub_addr %}
hub:
  endpoint: "{{ node_hub_addr }}"
{% endif %}
