hub:
  eth_addr: "{{ worker_hub_conn.eth }}"

  # Either `resolve_endpoints: true` or `endpoints` should be provided. If `resolve_endpoints`
  # is set to `true`, hub's addresses will be resolved via locator.
  resolve_endpoints: {{ worker_hub_conn.resolve }}
  endpoints: ["{{ worker_hub_conn.ip }}",]

  # Resources section is available only on Linux
  # If configured, all tasks will share this pool of resources.
  #resources:
  #  cgroup: insonmnia
  #  resources:
  #    # https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#memory
  #    memory: { limit: 1000 }
  #    # https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#cpu
  #    cpu: {quota: 1024 cpus: "2-3" }
  #    # https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#network
  #    network: { classID: 1048577 }

logging:
  level: -1

{% if public_ip_addrs is defined and public_ip_addrs %}
{# todo: render it as array #}
public_ip_addrs: ["{{ public_ip_addrs }}"]
{% endif %}

ethereum:
  key_store: "{{ sonm_keystore_path }}"
  pass_phrase: "{{ sonm_keystore_passphrese }}"

locator:
  endpoint: "{{ sonm_locator_addr }}"

plugins:
  socket_dir: {{ worker_plugins.socket_dir }}

  volume:
    root: {{ worker_plugins.volume_root }}
    volumes:
      {% if worker_plugins.cifs_enabled %}
      cifs: {}
      {% endif %}

  gpus:
    {% if worker_plugins.nvidia_enabled %}
    nvidia: {}
    {% endif %}

    {% if worker_plugins.radeon_enabled %}
    radeon: {}
    {% endif %}
