address: "{{ locator_endpoint }}"

node_ttl: "{{ locator_node_ttl }}"
cleanup_period: "{{ locator_cleanup_period }}"

ethereum:
  key_store: "{{ sonm_keystore_path }}"
  pass_phrase: "{{ sonm_keystore_passphrese }}"
