address: "{{ locator_endpoint }}"

node_ttl: "{{ locator_node_ttl }}"
cleanup_period: "{{ locator_cleanup_period }}"

ethereum:
  key_store: "{{ sonm_keystore_path }}"
  pass_phrase: "{{ sonm_keystore_passphrese }}"

store:
  # Type of the storage to use.
  # Possible types are: "consul", "zookeeper", "etcd" and "boltdb"
  # boltDB is a local storage, so it can not be used with failover switched on
  type: "{{ locator_store_engine }}"

  # storage specific endpoint. Directory for boltdb, tcp endpoint for other types
  endpoint: "{{ locator_store_endpoint }}"

  # Storage bucket to store all data in
  bucket: "sonm"
